/* CSS declarations go here */
.reg-content {
  display: flex;
  justify-content: space-around;
  font-family: Roboto, Arial, sans-serif;
  background: white;
  padding: 15px 15px 0;
  /*min-width: 1257px;
  max-width: 1257px;*/
  /*box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.45);*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*border-bottom: 1px solid #ECF0F1;*/
}

.reg-title {
  padding: 0;
  margin: 0;
  color: #424242;
  font-size: 16px;
  font-weight: 300;
  align-self: flex-end;
  width: 100%;
}

.reg-subtitle {
  padding: 0;
  margin: 0;
  margin-top: 4px;
  color: #9E9E9E;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.4;
}

.reg-options {
  margin-top: 20px;
  width: 100%;
}

.reg-content svg {
  font-size: 11px;
}

.reg-chart {
  margin-top: 15px;
  height: 400px;
  width:  400px;
}

.reg-content svg line {
  stroke-linecap: round;
}

.course {
  display: flex;
  border-radius: 5px;
  height: 42px;
  padding: 3px;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
}

.course paper-ripple {
  color: #e5e5e5;
}

.course:hover {
  background: #f9f9f9;
}

.course-title {
  padding: 0;
  margin: 0;
  color: #424242;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.1;
}

.course-credits {
  padding: 0;
  margin: 0;
  color: #424242;
  font-size: 12px;
  font-weight: normal;
  opacity: 0.5;
  margin-top: 5px;
}

.available-courses {
  border-top: 1px solid #E6E6E6;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 320px;
  max-width: 320px;
  height: 550px;
  -webkit-mask-image: -webkit-gradient(linear, left 80%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.available-title {
  padding: 0;
  margin: 0;
  color: #424242;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
}


.right-column {
  min-width: 300px;
  max-width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.right-column-container {
  display: none;
  min-width: 300px;
  max-width: 300px;
}

.options-text {
  color: #9E9E9E;
  font-size: 12px;
  position: relative;
  width: 100%;
  text-align: start;
  font-weight: normal;
  cursor: pointer;
  margin-right: 10px;
}

.options-text:hover {
  color: #a5446b;
}

.select-all {
  position: relative;
}

.unselect-all {
  position: relative;
}

.performance-text {
  padding: 0;
  margin: 0;
  color: #424242;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.1;
  align-self: flex-end;
}

.predic-text {
  padding: 0;
  margin: 0;
  color: #424242;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.1;
  text-align: end;
}

.predic-text b {
  font-weight: normal;
}

.predic-text span {
  padding: 0;
  margin: 0;
  margin-top: 8px;
  color: #424242;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
  opacity: 0.5;
}

.udots-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3px;
  position: absolute;
  width: 100%;
  top: -58px;
  left: 0;
  transition: all 200ms ease-out;
}

.uparrow {
  position: absolute;
  color: rgb(66, 66, 66);
  bottom: -24px;
  margin-left: 19px;
}

.chance-text {
  padding: 0;
  margin: 0;
  color: #424242;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.1;
}

.chance-sub {
  padding: 0;
  margin: 0;
  margin-top: 8px;
  color: #9E9E9E;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
}

.legend-sub {
  padding: 0;
  margin: 0;
  color: #9E9E9E;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
  text-align: center;
}

.legend-sub b {
  padding: 0;
  margin: 0;
  color: #424242;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
  text-align: center;
}

.gradebar {
  transition: all 200ms ease-out;
}

.observations {
  transition: all 400ms ease-out;
}

.uncertainty {
  transition: all 600ms ease-out;
}

image {
  transition: all 600ms ease-out;
}

.udot {
  background:#B45C7E;
  border-radius:50%;
  min-width:8px;
  max-width:8px;
  min-height: 8px;
  max-height: 8px;
  margin-top: 1px;
  opacity: 1;
  border: 1px solid #e5e5e5;
}

.udots {
  position: absolute;
  left: 0px;
  top: -11px;
  transition: all 200ms ease-out;
  height: 60px;
  display: flex;
  flex-direction: column-reverse;
}

.uline {
  transition: all 600ms ease-out;
}

.text-svg {
  transition: all 600ms ease-out;
}

text {
  transition: all 600ms ease-out;
}

.ubar {
  margin-top: 2px;
  height: 5px;
  display: flex;
  justify-content: center;
  font-size: 5px;
  color: #808080;
  transition: all 100ms ease-out;
  border-left: 1px solid rgba(66,66,66,0.1);
}

.utext {
  margin-top: 2px;
  font-size: 11px;
  color: #424242;
}

.performance-explain {
  cursor: pointer;
}

.performance-explain:hover {
  color: #666666;
}

.explained {
  display: none;
  opacity: 0;
  position: absolute;
  font-size: 13px;
  color: #424242;
  top: -90px;
  left: 40px;
  background: white;
  width: 370px;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.performance-explain:hover .explained {
  display: block;
  opacity: 1;
  transition: opacity 600ms ease-out;
}

.u-content {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  transition: all 600ms ease-out;
  width: 100%;
}

.e-row {
  display: flex;
  margin-top: 1px;
}

.e-row span {
  font-weight: 600;
  width: 55px;
  text-align: right;
}

.e-row div {
  margin-left: 5px;
  color: #757575;
}

.e-row b {
  color: #424242;
  font-weight: normal;
}

.ua1  { background:#f9f9f9; }
.ua2  { background:#e5e5e5; }
.ua3  { background:#d2d2d2; }
.ua4  { background:#bababa; }
.ua5  { background:#9e9e9e; }
.ua6  { background:#B45C7E; }
.ua7  { background:#9e9e9e; }
.ua8  { background:#bababa; }
.ua9  { background:#d2d2d2; }
.ua10 { background:#e5e5e5; }
.ua11 { background:#f9f9f9; }

.pass-score {
  display: flex;
  flex-direction: column;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  color: #5c5c5c;
  cursor: default;
}

.pass-score span{
  padding: 0;
  margin: 0;
  color: #757575;
  font-size: 12px;
  font-weight: 300;
  cursor: default;
}

.pass-rate {
  padding: 0;
  margin: 0;
  color: #424242;
  font-size: 12px;
  font-weight: normal;
  opacity: 0.5;
  margin-top: 12px;
}

.ccb {
  align-self: center;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.mid-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.course-tooltip {
  display: none;
  position: absolute;
  font-size: 13px;
  color: #424242;
  top:  40px;
  right:-260px;
  background: white;
  width: 250px;
  padding: 10px;
  z-index: 1;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.left-column {
  min-width: 320px;
  max-width: 320px;
}

.available {
  min-width: 320px;
  max-width: 320px;
}


.adjust-value {
  color: #b45c7e;
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  bottom: -14px;
  right: 7px;
  text-decoration: underline;
  cursor: pointer;
}

.adjust-value:hover {
  color: #8c3d5e;
}

#slider {
  display: none;
}

.fases {
  display: flex;
}

.fase {
  margin-top: 3px;
  color: #a8a8a8;
  font-size: 12px;
  cursor: pointer;
  margin-right: 10px;
  position: relative;
  width: 50px;
  text-align: center;
  padding-bottom: 2px;
}

.fase-selected {
  color: #424242 !important;
  border-bottom: 2px solid #bd5f85;
}

.courses-title {
  background: #fcfcfc;
}

.uncertainty-sentence {
  font-size: 16px;
  color: #757575;
  text-align: end;
  width: 200px;
  /* align-self: flex-end; */
  margin-top: 15px;
  font-weight: 300;
  margin-left: 100px;
}

.uncertainty-sentence span {
  font-size: 16px;
  color: #424242;
  font-weight: 500;
}

.uncertainty-sentence b {
  font-size: 20px;
  color: #424242;
  font-weight: 500;
}

.overall-details {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.detail  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #424242;
}

.detail-top {
  font-size: 20px;
  font-weight: 500;
}

.detail-text {
  font-size: 16px;
  color: #757575;
  font-weight: 300;
}

.umeter {
  width: 300px;
  height: 3px;
  background: white;
  border-top: 1px solid black;
  display: flex;
  height: 10px;
  position: relative;
}

.umeter .um {
  font-size: 11px;
  color: #424242;
  width: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10px;
  padding-top: 3px;
}

.ubar-main { display: flex; transition: all 200ms ease-out; }
.ubar-left { transition: all 200ms ease-out; }
.ubar-right { transition: all 200ms ease-out; }


.ubar-red {
  margin-top: 2px;
  width: 100%;
  height: 3px;
  display: flex;
  justify-content: center;
  font-size: 5px;
  color: #808080;
  transition: all 100ms ease-out;
  border-left: 1px solid rgba(66,66,66,0.1);
  background: #e74c3c;
}

.ubar-green {
  margin-top: 2px;
  width: 100%;
  height: 3px;
  display: flex;
  justify-content: center;
  font-size: 5px;
  color: #808080;
  transition: all 100ms ease-out;
  border-left: 1px solid rgba(66,66,66,0.1);
  background: #0f9d58;
}

.ubar-yellow {
  margin-top: 2px;
  width: 0%;
  height: 3px;
  display: flex;
  justify-content: center;
  font-size: 5px;
  color: #808080;
  transition: all 100ms ease-out;
  border-left: 1px solid rgba(66,66,66,0.1);
  background: #f39c12;
}

.umeter-ticks {
  display: flex;
  position: absolute;
  left: 0;
  justify-content: space-around;
  top: -19px;
}

.utick {
  width: 30px;
  width: 30px;
  color: #757575;
  font-size: 20px;
  justify-content: flex-end;
  display: flex;
  opacity: 0.45;
}
