/* CSS declarations go here */
.reg-content {
  font-family: Roboto, Arial, sans-serif;
  background: white;
  padding: 15px;
  margin:  7px;
  height: 878px;
  width: 600px;
  /*box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.45);*/
}

.reg-title {
  padding: 0;
  margin: 0;
  color: #424242;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
}

.reg-subtitle {
  padding: 0;
  margin: 0;
  margin-top: 8px;
  color: #424242;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.4;
  opacity: 0.5;
}

.reg-options {
  margin-top: 20px;
}

.reg-content svg {
  font-size: 11px;
}

.reg-chart {
  margin-top: 15px;
  height: 400px;
}
