/* CSS declarations go here */
.reg-content {
  display: flex;
  justify-content: space-around;
  font-family: Roboto, Arial, sans-serif;
  background: white;
  padding: 15px;
  /*box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.45);*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.reg-title {
  padding: 0;
  margin: 0;
  color: #424242;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
}

.reg-subtitle {
  padding: 0;
  margin: 0;
  margin-top: 8px;
  color: #9E9E9E;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.4;
}

.reg-options {
  margin-top: 20px;
}

.reg-content svg {
  font-size: 11px;
}

.reg-chart {
  margin-top: 15px;
  height: 400px;
  /*width:  500px;*/
}

.reg-content svg line {
  stroke-linecap: round;
}

.course {
  display: flex;
  margin-top: 8px;
  margin-bottom: 8px;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  /*background: #fafafa;*/
  padding: 3px;
  align-items: center;
}

.course-title {
  padding: 0;
  margin: 0;
  color: #424242;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.1;
}

.course-credits {
  padding: 0;
  margin: 0;
  color: #424242;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.4;
  opacity: 0.5;
}

.available-courses {
  height: 370px;
  overflow-y: scroll;
}

.available-title {
  padding: 0;
  margin: 0;
  color: #424242;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
}


.right-column {
  min-width: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.options{
  display: flex;
  justify-content: space-around;
  position: relative;
  cursor: pointer;
}
.options-text {
  color: #9E9E9E;
  font-size: 12px;
  padding: 5px 0;
  text-decoration: underline;
  position: relative;
  width: 100%;
  text-align: center;
  font-weight: normal;
  line-height: 1.4;
}

.options-text:hover {
  color: #a5446b;
}

.select-all {
  position: relative;
  width: 100%;
}

.unselect-all {
  position: relative;
  width: 100%;
}

.performance-text {
  padding: 0;
  margin: 0;
  color: #424242;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.1;
  align-self: flex-end;
}

.observations {
  transition: all 600ms ease;
}

.uncertainty {
  transition: all 900ms ease;
}

.predic-text {
  padding: 0;
  margin: 0;
  color: #424242;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.1;
  text-align: end;
}

.predic-text span {
  padding: 0;
  margin: 0;
  margin-top: 8px;
  color: #424242;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
  opacity: 0.5;
}

.chance-text {
  padding: 0;
  margin: 0;
  color: #424242;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.1;
}

.chance-sub {
  padding: 0;
  margin: 0;
  margin-top: 8px;
  color: #9E9E9E;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
}

.legend-sub {
  padding: 0;
  margin: 0;
  color: #9E9E9E;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
  text-align: center;
}
